:root {
    --header-end-padding: 40px;
    --header-top-padding: 60px;
}

* {
    font-family: 'roboto';
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 350px 5fr;
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
    width: 100vw;
}

.sidebar {
    z-index: 2;
    background-color: rgb(0, 162, 255);
    grid-column: 1;
    grid-row: 1/-1;
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    font-family: 'roboto';
    overflow: auto;
}


.header {
    z-index: 1;
    background-color: white;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    justify-items: center;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.74);
}

.search-bar {
    grid-row: 1;
    display: flex;
    padding-left: var(--header-end-padding);
    width: 100%;
    box-sizing: border-box;
}

.search-bar input {
    width: 100%;
}

.user-info-little {
    justify-self: right;
    grid-row: 1;
    padding-right: var(--header-end-padding);
}

.user-info-big {
    grid-row: 2;
    justify-self: left;
    padding-left: var(--header-end-padding);
}

.header-buttons {
    grid-row: 2;
    width: 100%;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    padding-right: var(--header-end-padding);
}

.header-buttons button {
    flex: 1;
}

.main-content {
    background-color: rgb(214, 214, 214);
    grid-column: 2;
    grid-row: 2/-1;
    display: grid;
    
    grid-template-columns: 3fr 1fr;
    grid-template-rows: var(--header-top-padding) 1fr var(--header-top-padding) 1fr;

    overflow: auto;
}

.projects {
    grid-column: 1/2;
    grid-row: 1/-1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: var(--header-top-padding) 1fr;
}

.projects-header {
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: 30px;
}

.projects-container {
    grid-row: 2;
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.projects-item {
    margin: 30px;
    margin-top: 0px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.247);
}

.announcements-header,
.trending-header {
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: 0px;
}

.announcements-item,
.trending-item {

    margin: 30px;
    margin-left: 0;
    margin-top: 0px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.247);
}