body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background-color: black;
    grid-column: 1;
    grid-row: 1/-1;
}

.header {
    background-color: blue;
    grid-column: 2;
    grid-row: 1;
}

.main-content {
    background-color: grey;
    grid-column: 2;
    grid-row: 2/-1;
}