:root {
    --header-end-padding: 40px;
    --header-top-padding: 60px;
}

* {
    font-family: 'roboto';
}

p {
    color: rgb(88, 88, 88);
}

body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

img {
    height: 1em;
    width: auto;
    vertical-align: middle;
}

.container {
    display: grid;
    grid-template-columns: 350px 5fr;
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
    width: 100vw;
}

.sidebar {
    z-index: 2;
    background-color: rgb(0, 162, 255);
    grid-column: 1;
    grid-row: 1/-1;
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    color: white;
    font-size: 30px;
    font-weight: 500;
    font-family: 'roboto';
    overflow: auto;

    
}

.sidebar-top,
.sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar img{
    height: 1em;
    width: auto;
    vertical-align: middle;
    margin-right: 20px;
}

.title img{
    height: 2em;
}

.side-content {
    vertical-align: middle;
}


.header {
    z-index: 1;
    background-color: white;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: 3fr 3fr;
    grid-template-columns: 3fr minmax(442px, 1.5fr);
    align-items: center;
    justify-items: center;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.74);
    overflow: auto;
}


.search-bar {
    grid-row: 1;
    display: flex;
    padding-left: var(--header-end-padding);
    width: 100%;
    box-sizing: border-box;
    font-size: 36px;
}

.search-bar img{
    height: 1em;
    width: auto;
    vertical-align: middle;
    margin-right: 20px;
}

.search-bar input {
    width: 100%;
    background-color: rgb(214, 214, 214);
    border: none;
    border-radius: 18px;
    padding-left: 18px;
    font-family: 'roboto';
}

.search-bar input:focus {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.247);
}

.user-info-little {
    justify-self: right;
    grid-row: 1;
    padding-right: var(--header-end-padding);
    font-size: 25px;
    font-weight: 500;
    align-items: center;
    margin-right: 20px;
    vertical-align: middle;
    display: flex;
    gap: 35px;
}

.user-info-little img {
    /* padding-bottom: 0px; */
    height: 1.2em;
}

.user-info-little img.profile-picture {
    height: 2em;
    border-radius: 1.5em;
}


.user-info-big {
    grid-row: 2;
    justify-self: left;
    /* align-self: flex-end; */
    padding-bottom: 20px;
    padding-left: var(--header-end-padding);
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 500;
    font-size: 15px;
}

.user-info-big img {
    height: 4em;
    border-radius: 4em;
}

.user-info-big .username-handle {
    font-size: 2em;
}

.header-buttons {
    grid-row: 2;
    width: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    padding-right: var(--header-end-padding);
}

.header-buttons button {
    flex: 1;
    background-color: rgb(0, 162, 255);
    border: none;
    font-size: 20px;
    padding: 8px;
    box-sizing: border-box;
    color: white;
    border-radius: 100px;
}

.main-content {
    background-color: rgb(214, 214, 214);
    grid-column: 2;
    grid-row: 2/-1;
    display: grid;
    
    grid-template-columns: 3fr 1fr;
    grid-template-rows: var(--header-top-padding) 1fr var(--header-top-padding) 1fr;

    overflow: auto;
}

.projects {
    grid-column: 1/2;
    grid-row: 1/-1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: var(--header-top-padding) 1fr;
}

.projects-header {
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: 30px;
}

.projects-container {
    grid-row: 2;
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.projects-item {
    margin: 30px;
    margin-top: 0px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.247);
    border-left: 12px solid rgb(255, 191, 30);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects-item * {
    margin: 0;
}

.projects-item .buttons {
    margin-top: auto;
    align-self: flex-end;
}

.projects-item img {
    height: 2em;
}

.projects-item button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

.announcements-header,
.trending-header {
    margin-top: auto;
    margin-bottom: 15px;
    margin-left: 0px;
}

.announcements{

    margin: 30px;
    margin-left: 0;
    margin-top: 0px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.247);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.announcements *{
    font-size: .9em;
}

.announcements-item {
    margin: 0;
}

.announcements-item p {
    margin-top: 0;
}

.announcements-item h4 {
    margin-bottom: 8px;
}

.announcements > *:not(:first-child) {
    border-top: .5px solid rgba(0, 0, 0, 0.253);
}

.trending{

    margin: 30px;
    margin-left: 0;
    margin-top: 0px;
    /* padding: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.247);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.1em;
}

.trending-item {
    display: flex;
    gap: 1em;
}

.trending img {
    height: 2.5em;
    border-radius: 100px;
}

.trending .trend-header {
    color: black;
    margin-bottom: 0;
}

.trending * {
    margin: 0px;
}